html, body, #map {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	position: absolute;
	color: #333;
}
i.fas {
	width: 21px;
	font-size: 21px;
	line-height: 39px;
	margin-right: 6px;
	vertical-align: top;
}
i.fa-user {
	font-size: 23px;
}
i.fa-road {
	font-size: 19px;
}
i.fa-users, i.fa-helicopter {
	font-size: 17px;
}
.mapboxgl-ctrl-group {
	border-radius: 10px;
}
.mapboxgl-ctrl-group button {
	width: 39px;
	height:  39px;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-camera .mapboxgl-ctrl-icon {
	background: no-repeat center/19px url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='%23333'%3E%3Cpath d='M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z'/%3E%3C/svg%3E");
}
.mapboxgl-ctrl button.mapboxgl-ctrl-info .mapboxgl-ctrl-icon {
	background: no-repeat center/21px url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23333'%3E%3Cpath d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'%3E%3C/path%3E%3C/svg%3E");
}
.mapboxgl-popup-content, .mapboxgl-popup-tip {
	cursor: pointer;
}
.mapboxgl-popup-content {
	background: rgb(0, 0, 0, 0.7);
	color: #fff;
	padding: 10px;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
	border-bottom-color: rgba(0, 0, 0, 0.7);
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
	border-top-color: rgba(0, 0, 0, 0.7);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
	border-right-color: rgba(0, 0, 0, 0.7);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
	border-left-color: rgba(0, 0, 0, 0.7);
}
.mapboxgl-popup-anchor-top.highlighted .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left.highlighted .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right.highlighted .mapboxgl-popup-tip {
	border-bottom-color: rgba(102, 102, 102, 0.7);
}
.mapboxgl-popup-anchor-bottom.highlighted .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left.highlighted .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right.highlighted .mapboxgl-popup-tip {
	border-top-color: rgba(102, 102, 102, 0.7);
}
.mapboxgl-popup-anchor-left.highlighted .mapboxgl-popup-tip {
	border-right-color: rgba(102, 102, 102, 0.7);
}
.mapboxgl-popup-anchor-right.highlighted .mapboxgl-popup-tip {
	border-left-color: rgba(102, 102, 102, 0.7);
}
.marker {
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}
.map-overlay {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	white-space: nowrap;
	z-index: 1;
}
.map-overlay-inner {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	padding: 10px;
}
.title {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
}
.tracking-position {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.tracking-gauge {
	width: 170px;
	height: 6px;
	background-color: #999;
}
.tracking-progress {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: red;
}
.tracking-status {
	color: #f90;
	display: none;
}
.tracking-target {
	display: none;
	margin-top: 10px;
}
.tracking-marker {
	display: table-cell;
	background-size: cover;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-right: 6px;
}
.tracking-runner {
	display: table-cell;
	background-size: cover;
	height: 44px;
	font-size: 14px;
	line-height: 22px;
	padding-left: 6px;
}
.tag {
	padding: 0 4px;
	border-radius: 4px;
	color: #fff;
	background-color: green;
	display: inline-block;
}
.bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);;
	display: none;
	z-index: 99;
}
.menu {
	top: 10px;
	right: 60px;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
.menu div {
	font: 14px/39px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding-right: 10px;
	background-color: transparent;
	cursor: pointer;
}
.menu div+div {
	border-top: 1px solid #ddd;
}
.menu div:hover {
	background-color: rgba(0, 0, 0, .05);
}
.menu div:first-child {
	border-radius: 10px 10px 0 0;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-weight: bold;
	pointer-events: none;
}
.menu div:last-child {
	border-radius: 0 0 10px 10px;
}
.menu div span {
	display: inline-block;
	vertical-align: top;
	width: 39px;
	height: 39px;
}
.menu div.active span {
	background: no-repeat center/19px url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23333'%3E%3C!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
.info {
	position: absolute;
	top: 165px;
	right: 60px;
	width: 250px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
.info div:first-child {
	height: 39px;
	border-radius: 10px 10px 0 0;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 39px;
	pointer-events: none;
}
.info div:last-child {
	padding: 0 10px;
	border-radius: 0 0 10px 10px;
}
.panel {
	position: absolute;
	bottom: min(-25%, -150px);
	width: 100%;
	height: max(25%, 150px);
	background-color: rgba(0, 0, 0, 0.7);;
	display: block;
	transition: bottom 1s;
	z-index: 3;
}
.chart {
	position: absolute;
	width: 100%;
	height: 100%;
}
